body {
    text-align: center;
    background: #bfa526;
}

header {
    text-align: center;
    background-color: antiquewhite;
    background-size: cover;
    color: white;
}

h1 {
    color: blue;
    font-size: 36px;
    font-weight: bold; 
}

img {
    width: 20%;
    height: 100px;
    border: 7px solid white;
}

ul {
    padding: 10px;
    background: rgba(0, 0, 0, 0.212);
  }
li {
    display: inline;
    padding: 0px 10px 0px 10px;
  }

article {
    color: white;
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
    text-align: left;

  }

footer {
    color: red;
    font-size: 18px;
    text-align: center;
}
.message {
    font-size: 24px;
    font-weight: lighter;
}

.footer {
    font-size: 24px;
    color: green;
    font-weight: bolder;
    text-decoration: underline;
}